{namespace neos=TYPO3\Neos\ViewHelpers}
{namespace ts=TYPO3\TypoScript\ViewHelpers}
{namespace m=TYPO3\Media\ViewHelpers}
{namespace w=Sfi\Widgets\ViewHelpers}

<li class="List-Item">
	<div class="Media">
		<neos:link.node node="{node}">
			<div class="Media-Image">
				<f:if condition="{thumbnailImage.properties.image}">
					<m:image asset="{thumbnailImage.properties.image}" maximumWidth="{configuration.thumbnailWidth}" maximumHeight="{configuration.thumbnailHeight}" allowCropping="true" allowUpScaling="true" alt="{thumbnailImage.properties.alternativeText}" />    
				</f:if>
			</div>
			<div class="Media-Body">
				<f:if condition="{date}">
					<div class="Media-Date"><w:date format="{configuration.dateFormat}">{date}</w:date></div>
				</f:if>
				<h3 class="Media-Title">
					{title}
				</h3>
				<div class="Media-Teaser">{teaser -> f:format.raw()}</div>
			</div>
		</neos:link.node>
	</div>
</li>